<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="../style/hamburger.css" />
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <button id="hamburger" class="hamburger" onclick="openNav()"></button>
    <nav id="main-nav" class="main-nav">
      <a href="../index.html" onclick="openNav()">Home</a>
      <a href="#" onclick="openNav()">About Us</a>
      <a href="#" onclick="openNav()">Products</a>
      <a href="#" onclick="openNav()">Gallery</a>
      <a href="#" onclick="openNav()">Contact</a>
    </nav>
    <main>
      <section class="about">
        <div class="about-left"></div>
      </section>
    </main>
    <script src="../js/app.js"></script>
  </body>
</html>
