<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../style/gallery.css" />
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/hamburger.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <button id="hamburger" class="hamburger" onclick="openNav()"></button>
    <nav id="main-nav" class="main-nav">
      <a href="../index.html" onclick="openNav()">Home</a>
      <a href="../views/about.html" onclick="openNav()">About Us</a>
      <a href="../views/gallery.html" onclick="openNav()">Gallery</a>
      <a href="../views/contact.html" onclick="openNav()">Contact</a>
    </nav>
    <div class="gallery-section">
      <div class="inner-width">
        <h1>Gallery</h1>
        <div class="border"></div>
        <div class="gallery">
          <a href="../assets/gallery assets/1.png"" class="image">
            <img src="../assets/gallery assets/1.png" alt="photo" />
          </a>

          <a href="../assets/gallery assets/2.png" class="image">
            <img src="../assets/gallery assets/2.png" alt="" />
          </a>

          <a href="../assets/gallery assets/3.png" class="image">
            <img src="../assets/gallery assets/3.png" alt="" />
          </a>

          <a href="../assets/gallery assets/4.png" class="image">
            <img src="../assets/gallery assets/4.png" alt="" />
          </a>

          <a href="../assets/gallery assets/5.png" class="image">
            <img src="../assets/gallery assets/5.png" alt="" />
          </a>

          <a href="../assets/gallery assets/6.png" class="image">
            <img src="../assets/gallery assets/6.png" alt="" />
          </a>

          <a href="../assets/gallery assets/7.png" class="image">
            <img src="../assets/gallery assets/7.png" alt="" />
          </a>

          <a href="../assets/gallery assets/8.png" class="image">
            <img src="../assets/gallery assets/8.png" alt="" />
          </a>
        </div>
      </div>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
